body
{
	background-color: rgb(228,239,249);
}

.top
{
	position: fixed;
	height: 200px;
}

.message1, .message2
{
	padding: 30px 30px 30px 50px;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 28px;
	color: #333;
	width: 680px;
}

.bottom
{
	position: absolute;
	top: 2500px;
	height: 2000px;
	width: 100%
}

p.message2
{
	padding-left: 50px;
}

.reminder
{
	padding: 30px 30px 30px 50px;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 20px;
	color: grey;
	width: 680px;
}